:root {
    --menu-color: #f7f7f7;
    --main-color: #ffffff;
    --main-font-family:'Roboto', sans-serif;
    --logo-font-family: 'Playfair Display', serif;
}

body {
    max-width: 980px;
    margin: auto;
}

.logo > img {
    width: 188px;
    padding: 30px;
    }
    .main-menu a {
    color: var(--menu-color);
    font-size: 14px;
    font-family: var(--main-font-family);
    text-decoration: none;
    font-weight: bolder;
}
 
.main-menu li {
    list-style: none;
    text-align: right;
    
}

.main-menu a:hover {
    text-shadow:0px 0px 10px #f7f7f7;
    font-weight: bold;
}